<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/weather-icons.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script>
      function returnDate(unixTime) {
          var dt = new Date(unixTime * 1000);
          var date = dt.getMonth() + '/' + dt.getDate();
          return date
      }
    </script>
  </head>
  <body>

    <ul class="nav nav-tabs">
      {% for i in range(0, forecast_data|length) %}
      {% if i==0 %}
      <li class="active">
        {% else %}
      <li>
        {% endif %}
        <a data-toggle="tab" href="#tab{{ i }}">{{ forecast_data[i]['location'].address.split(',')[0] }}</a></li>
      {% endfor %}

      <li><a data-toggle="tab" href="#add-tab">+</a></li>
    </ul>

    <div class="tab-content">

      {% for i in range(0, forecast_data|length) %}
      {% if i==0 %}
      <div id="tab{{ i }}" class="tab-pane fade in active">
        {% else %}
        <div id="tab{{ i }}" class="tab-pane fade">
          {% endif %}

        <!-- CONTENT -->
        <br>
        <div class="container-fluid" align="center">
          <div class="col-sm-2"></div>
          {% for day in forecast_data[i]['data'] %}
          <div class="col-sm-1">
            <i class="wi wi-{{ icons[day.icon] }}"></i><br>
            <script type="text/javascript">
              document.write(returnDate({{ day.time }}))
            </script><br>
            H: {{ day.temperatureMax }} <br>
            L: {{ day.temperatureMin }} <br>
          </div>
          {% endfor %}
          <div class="col-sm-2"></div>
        </div> <!-- first row -->

        <br>
        <div class="container-fluid" align="center">
          <b>{{ forecast_data[i]['location'].address }}</b>
          <p>

            <!-- remove button -->
            <form action="/" method="POST">
              <input type="submit" value="Remove">
            </form>
        </div>        

        <!-- END CONTENT -->

      </div> <!-- tab{{ i }} -->

      {% endfor %}           

        <div id="add-tab" class="tab-pane fade">
          <div class="container-fluid" align="center">
            <form action="/" method="POST">
              <label><h4><u>LOCATION</u></h4>
                <input type="text" name="location">
              </label>
              <input type="submit" value="Submit">
            </form>
          </div>
        </div>
        
    </div> <!-- tab-content -->
  
    
    <!--
    <div class="container-fluid" align="center">

      <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#home">Home</a></li>
        <li ><a data-toggle="tab" href="#home">M1</a></li>
        <li ><a data-toggle="tab" href="#home">M2</a></li>
        <li ><a data-toggle="tab" href="#home">M3</a></li>
      </ul>

      <div class="tab-content">

        <div id="home" class="tab-pane fade in active">
      <form action="/" method="POST">
        <label><h4><u>LOCATION</u></h4>
          <input type="text" name="location">
        </label>
        <input type="submit" value="Submit">
      </form>

      <div class="row">

        <div class="col-sm-2"></div>
        
          {% for day in day_data %}
        <div class="col-sm-1">
          <i class="wi wi-{{ icons[day.icon] }}"></i><br>
            <script type="text/javascript">
              document.write(returnDate({{ day.time }}))
            </script><br>
            H: {{ day.temperatureMax }} <br>
            L: {{ day.temperatureMin }} <br>
          </div>
          {% endfor %}

          <div class="col-sm-2"></div>
          
      </div>
      
      <br>Current Location: <b>{{ current_loc }}</b> <br>
        </div>

        <div id="menu1" class="tab-pane fade">
          menu1 content
        </div>
        <div id="menu1" class="tab-pane fade">
          menu2 content
        </div>
        <div id="menu1" class="tab-pane fade">
          menu3 content
        </div>
      
      </div>
      </div>
    -->
    
  </body>
</html>
