<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/weather-icons.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script>
      function returnDate(unixTime) {
          var dt = new Date(unixTime * 1000);
          var date = dt.getMonth() + '/' + dt.getDate();
          return date
      }
    </script>
  </head>
  <body>

    <div class="container-fluid" align="center">
    
      <form action="/" method="POST">
        <label><h4><u>LOCATION</u></h4>
          <input type="text" name="location">
        </label>
        <input type="submit" value="Submit">
      </form>

      <div class="row">

        <div class="col-sm-2"></div>
        
          {% for day in day_data %}
        <div class="col-sm-1">
          <i class="wi wi-{{ icons[day.icon] }}"></i><br>
            <script type="text/javascript">
              document.write(returnDate({{ day.time }}))
            </script><br>
            H: {{ day.temperatureMax }} <br>
            L: {{ day.temperatureMin }} <br>
          </div>
          {% endfor %}

          <div class="col-sm-2"></div>
          
      </div>
      
      <br>Current Location: <b>{{ current_loc }}</b> <br>
      
    </div>
    
  </body>
</html>
