{% extends "layout.html" %}
{% block body %}

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

<script>
    function returnMonthDay(unixTime) {
        var dt = new Date(unixTime * 1000);
        var date = dt.getMonth() + '/' + dt.getDate();
        return date
    }
  function returnDateTime(unixTime){
      var dt = new Date(unixTime * 1000);
      var hours = ("0" + (dt.getHours())).slice(-2);
      var minutes = ("0" + (dt.getMinutes())).slice(-2);
      var month = ("0" + (dt.getMonth() + 1)).slice(-2);
      var date = ("0" + (dt.getDate())).slice(-2);
      var year = dt.getFullYear();
      return year + '-' + month + '-' + date + ' ' + hours + ':' + minutes + ':00';
  }
</script>

<ul class="nav nav-tabs">
  {% for i in range(0, forecast_data|length) %}
  {% if i==(forecast_data|length)-1 %}
  <li class="active">
    {% else %}
  <li>
    {% endif %}
    <a data-toggle="tab" href="#tab{{ i }}">{{ forecast_data[i]['location'].address.split(',')[0] }}</a></li>
  {% endfor %}
  
  <li><a data-toggle="tab" href="#add-tab">+</a></li>
</ul>

<div class="tab-content">
  
  {% for i in range(0, forecast_data|length) %}
  {% if i==(forecast_data|length)-1 %}
  <div id="tab{{ i }}" class="tab-pane fade in active">
    {% else %}
    <div id="tab{{ i }}" class="tab-pane fade">
      {% endif %}
      
      <!-- CONTENT -->
      {% if 'alerts' in forecast_data[i]['data'] %}
      <div class="container-fluid" align="center">
        <div class="row">
          <div class="col-sm-2"></div>
          <div class="col-sm-8" style="background-color:#CE6D68;">
            {% for alert in forecast_data[i]['data']['alerts'] %}
            <script type="text/javascript">
              document.write(returnMonthDay({{ alert['time'] }}))
              document.write(" through ")
              document.write(returnMonthDay({{ alert['expires'] }}))
            </script>
            <br>
            <h4>{{ alert['title'] }}</h4>
            <!-- {{ alert['description'] }}<br> -->
            <a href="{{ alert['uri'] }}" target="_blank">Further Information</a><br>
            {% endfor %}
          </div>
          <div class="col-sm-2"></div>
        </div>
      </div>
      {% else %}
      <br>
      {% endif %}
      
      <div class="container-fluid" align="center">
        <div class="row">
          <div class="col-sm-2"></div>
          {% for day in forecast_data[i]['data']['daily']['data'] %}
          {% if loop.index % 2 == 0 %}
          <div class="col-sm-1" style="background-color:#8291AA;">
            {% else %}
            <div class="col-sm-1" style="background-color:#A6B0C1;">
              {% endif %}
              <h1><i class="wi wi-{{ icons[day.icon] }}"></i></h1>
              <script type="text/javascript">
                document.write(returnMonthDay({{ day.time }}))
              </script><br>
              {{ day.temperatureMax | int }}&deg;<br>
              {{ day.temperatureMin | int }}&deg;<br>
            </div>
            {% endfor %}
            <div class="col-sm-2"></div>
          </div> <!-- row -->
        </div> <!-- container-fluid -->
        
        <br>
        <div class="container-fluid" align="center">
          <div class="row">
            <b>{{ forecast_data[i]['location'].address }}</b>
            <p>

              <!-- PLOTLY STUFF -->
              <div id="timePlot{{ i }}" style="width: 480px; height: 400px;"></div>
              <script>
                var data{{ i }} = [
                    {
                        x: [
                            {% for hour in forecast_data[i]['data']['hourly']['data'] %}
                            returnDateTime({{ hour.time }}),
                            {% endfor %}
                        ],
                        y: [
                            {% for hour in forecast_data[i]['data']['hourly']['data'] %}
                            {{ hour.temperature }},
                            {% endfor %}                            
                        ],
                        type: 'scatter'
                    }
                ];
                Plotly.newPlot('timePlot{{ i }}', data{{ i }});
              </script>
              <!-- PLOTLY STUFF END -->
              
              <!-- remove button -->
              <form action="/weather" method="POST">
                <button name="REMOVE" value="{{ i }}">Remove</button>
              </form>
          </div>
        </div>        
        
        <!-- END CONTENT -->
        
      </div> <!-- tab{{ i }} -->
      
      {% endfor %}           
      
      <div id="add-tab" class="tab-pane fade">
        <div class="container-fluid" align="center">
          <form action="/weather" method="POST">
            <label><h4><u>LOCATION</u></h4>
              <input type="text" name="location">
            </label><br>
            <input type="submit" value="Submit">
          </form>
        </div>
      </div>

    </div> <!-- tab-content -->

    <hr>
    <br>
    <p align="center"><a href="{{ url_for('logout') }}">Log Out</a></p>
    
{% endblock %}
